html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
img {
  width: 40px;
  height: 30px;
}

nav {
  display: flex;
  width: 100%;
  margin: auto;
  background-color: #00b4d8;
  justify-content: space-around;
  /* align-items: center; */
}
.logo-container,
.menu-button,
.nav-links {
  display: flex;
}
.nav-links:first-child {
  margin-left: -40px;
}
.logo-container {
  margin-left: 10px;
  flex: 1 800px;
  align-items: center;
}
.toggle-panel-wrapper {
  margin-top: 8px;
  background-color: #90e0ef;
  width: 100%;
  border-radius: 10px;
  height: 35px;
  flex: 1 700px;
  border: 2px solid black;
}
.nav-links {
  position: relative;
  bottom: 17px;
  list-style: none;
  justify-content: space-around;
}
.nav-link {
  height: 28px;
  width: 100%;
  padding-top: 8px;

  text-align: center;
}
.nav-link:not(:last-child) {
  border-right: 2px solid grey;
}
.nav-link:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-link:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.nav-link:hover {
  background-color: lightcyan;
}

.menu-button {
  flex: 1 800px;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
}

iframe {
  width: 98%;
  height: 640px;
  border: 2px solid grey;
}

span {
  display: block;
}
#bodyContainer {
  display: flex;
  height: 640px;
}
#bodyContainer > div {
  border: 1px solid grey;
}
.Panels {
  width: 100%;
}
textarea {
  border-color: #ccc;
  margin: 8px;
  resize: none;
  height: 610px;
  width: 90%;
  outline: none;
  /*  overflow-y: hidden; */
}

.hidden {
  display: none;
}
.menu-button button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
}

.menu-button-dropdown {
  display: none;
  width: 120px;
  position: absolute;
  top: 43px;

  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.menu-button-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menu-button-dropdown a:hover {
  border: 2px solid black;
}

.menu-button:hover .menu-button-dropdown {
  display: block;
}
@media screen and (max-width: 912px) {
}

/* nav {
  height: 8vh;
  background-color: #1a535c;
  max-width: 100%;
  text-align: center;
}
.nav-links {
  margin: 0px;
  padding-top: 10px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-links a {
  text-decoration: none;
}
.btnContainer {
  height: 32px;
  width: 290px;
  border-radius: 5px;
  justify-content: center;
  background-color: white;
}

.btnTab {
  padding: 5px 3px 0px;
  margin-top: 2px;
  display: inline-block;
  border-right: 1px solid grey;
  height: 24px;
  cursor: pointer;
  font-weight: bold;
  color: #1a535c;
}
.Obtn {
  border-right: none;
}
#title > li > a > h2 {
  position: relative;
  bottom: 15px;
  color: #f7fff7;
}

.btnTab:hover,
.active {
  background-color: lightblue;
}
.nav-links > div > a > h2 {
  color: red;
}


.dropdown {
  position: relative;
  right: 100px;
  height: 100px;
}
.dropdown button {
  width: 80px;
  height: 32px;
  border-radius: 6px;
  background-color: #ffffff;
  border: none;
  color: #1a535c;
  font-weight: bold;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  border: 3px solid #1a535c;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media screen and (max-width: 1200px) {
  .Panels {
    width: 50%;
  }
}
 */
